<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="tontent-type" content="text/html; charset=UTF-8">


<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/script/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<link th:href="@{/style/chen.css}" rel="stylesheet" />

<!-- <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="../../static/script/jquery.js"></script>
	<script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
	<link th:href="../../static/style/chen.css" rel="stylesheet"/> -->
</head>

<body>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<label for="default" class="col-sm-2 control-label">学生基本信息</label>
				<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
			</div>
			<div class="modal-body">
				<form class="modalbody" action="/sport" method="POST">
					<input type="hidden" name="id">
					<div class="default">
						<label for="taskname" class="col-sm-2 control-label">班级信息</label>
						<div class="col-sm-10">
							<!-- <input type="text" class="form-control" name="name"
								placeholder="请输入学校名称"> -->
							<span th:text="${student?.class_.grade.school.name}+'    '+
											${student?.class_.grade.name}+'    '+
											${student?.class_.name}+'班'
							"></span>
						</div>
					</div>
					<div class="default">
						<label for="default" class="col-sm-2 control-label">姓名(学号)</label>
						<div class="col-sm-10">
							<span th:text="${student?.name}+'('+${student?.studentnum}+')'"></span>
						</div>
					</div>
					<div class="default">
						<label for="default" class="col-sm-2 control-label">性别</label>
						<div class="col-sm-10">
							<span th:text="${student?.sex}"></span>
						</div>
					</div>
					<div class="default">
						<label for="default" class="col-sm-2 control-label">地址</label>
						<div class="col-sm-10">
							<span th:text="${student?.adress}"></span>
						</div>
					</div>
					
					<!-- 成绩信息 -->
					<div class="modal-header">
						<label for="default" class="col-sm-2 control-label">学生成绩信息</label>
						<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
					</div>
					
					
					<div class="antiAntiSpiderDict" th:each="tf:${terms_fresults}">
	                  <div class="panel panel-default">
	                    <div class="panel-heading">
	                      <h4 class="panel-title">
	                        <a data-toggle="collapse" data-parent="#accordion" th:href="'#collapseTwo'+${tf.key}" th:text="'第'+${tf.key}+'学期成绩'">
	                        </a>
	                      </h4>
	                    </div>
	                    <div th:id="'collapseTwo'+${tf.key}" class="panel-collapse collapse">
	                      <div class="panel-body">
	                      	<!-- 显示各项成绩 -->
	                        <div class="default" th:each="f:${tf.value}">
	                        	<table style="width: 400px">
	                        		<thead>
	                        			<tr>
	                        				<th><label for="default" class="control-label">项目</label></th>
	                        				<th><label for="default" class="control-label">成绩</label></th>
	                        				<th><label for="default" class="control-label">得分</label></th>
	                        				<th><label for="default" class="control-label">加分</label></th>
	                        				<th><label for="default" class="control-label">等级</label></th>
	                        			</tr>
	                        		</thead>
	                        		<tbody>
	                        			<tr>
	                        				<td><label for="default" class="control-label" th:text="${f.item.name}"></label></td>
	                        				<td><input type="text" name="address" class="form-control"  style="width: 50px"
														th:value="${f.value}"></td>
	                        				<td><span th:text="${f.score}"></span></td>
	                        				<td><span th:text="${f.add_score}"></span></td>
	                        				<td><span th:text="${f.level}"></span></td>
	                        			</tr>
	                        		</tbody>
	                        	</table>
							</div><!-- 显示各项成绩 -->
	                      </div>
	                    </div>
	                  </div>
	                </div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>