<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="tontent-type" content="text/html; charset=UTF-8">

<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/script/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<link th:href="@{/style/chen.css}" rel="stylesheet" />
</head>

<body>
	<div class="modal-dialog " style="width:1000px"> 
		<div class="modal-content">
			<div class="modal-header">
				<div th:replace="~{nav}"/>
			</div>
			<div class="modal-header">
				<label for="default" class="col-sm-2 control-label">学生信息</label>
			</div>
			<span th:if="${message}!=null">
				<div class="alert alert-info alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<span th:text="${message}"></span>
				</div>
			</span>
			<div class="modal-body">
			    <div class="form-inline" style="margin-left: 50px;">
						<label for="name">选择年级:</label> 
						<select id="grade_select"
							class="bs-select-form-control" name="grade_id">
							<option th:each="g:${grades}" th:text="${g.name}"
								th:value=${g.id} th:selected="${g.id==grade_id}"></option>
						</select>
						<label for="name" style="margin-left: 20px;">选择班级:</label> <select id="clas_id" class="selectpicker"
							name="clas_id">
							<option th:each="c:${class_s}" th:text="${c.name}"
								th:value=${c.id} th:selected="${c.id==clas_id}"></option>    
						</select>
						<button type="button" style="margin-left: 20px;"
						class="btn btn-primary btn-sm" onclick="queryResult()">查询</button>
						<button type="button"
						class="btn btn-primary btn-sm" style="margin-left: 20px;">添加学生</button>
						<button type="button"
						class="btn btn-primary btn-sm" style="margin-left: 20px;">导入学生</button>
				</div>
				
				<form id="query" class="modalbody" action="/school/list" method="POST">
					<div class="list">
				        <table class="table table-hover">
							<thead>
							  <tr>
							    <th>姓名</th>
							    <th>班级</th>
							    <th>性别</th>
							    <th>地址</th>
							    <th>操作</th>
							  </tr>
							</thead>
							<tbody>
								<tr th:each="s:${page.list}">
									<td  th:text="${s.name}+'('+${s.studentnum}+')'"></td>
									<td  th:text="${s.class_.name}"></td>
									<td  th:text="${s.sex}"></td>
									<td  th:text="${s.adress}"></td>
									<td><a th:href="'/sport/student/edit?id='+${s.id}">查看</a><td>
								</tr>
							</tbody>
					</table>
				<div th:replace="~{page}"/>
				</form>
				
			</div>
		</div>
	</div>
</body>
</html>