<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	
  </head>
  
  <body>
    <section id="error" class="container text-center" style="height:800px;">
        <h1>404, 页面没有找到</h1>
        <p>您正在寻找的页面不存在或发生其他错误。</p>
        <a class="btn btn-primary" href="/sport/">回到网站首页</a> 
    </section>
</body>
</html>
