<!DOCTYPE html>
<html>
  <head>
    <title>500.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	
  </head>
  
  <body>
    <section id="error" class="container text-center" style="height:800px;">
        <h1>500, 服务器在开小差</h1>
        <p>请刷新重试或联系管理员</p>
        <a class="btn btn-primary" href="">回到网站首页</a> 
    </section>
</body>
</html>
