<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="tontent-type" content="text/html; charset=UTF-8">

<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/script/jquery.js}"></script>

<script type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<link th:href="@{/style/chen.css}" rel="stylesheet" /><!-- 
<link th:href="@{/style/main.css}" rel="stylesheet" /> -->
<script type="text/javascript">
   
$(document).ready(function(){
   
	$("#grade_select").change(function(){
	
		$.ajax({
			url:'/sport/clas/query',
			type:'GET',
			dataType:'json',
			data:'grade_id='+$("#grade_select").find("option:selected").attr('value'),
			
			success:function(result){
		
			    $("#clas_id").empty(); 
			    for(var i=0;i<result.length;i++){
			      /* alert(result[i].name); */
			      $("#clas_id").append("<option value="+result[i].id+">"+result[i].name+"</option>"); 
			    }  
			}
		});
	});
	
});

function queryResult(){
    
    $("#cla_id").attr("value",$('#clas_id').find('option:selected').attr('value'))
	
	$("#grad_id").attr("value",$('#grade_select').find('option:selected').attr('value'));
	
	$("#tem_id").attr("value",$('#term_id').find('option:selected').attr('value'));
	
	$("#query").submit(); 
}

</script>
</head>

<body>
	<div class="modal-dialog " style="width:1000px">
		<div class="modal-content">
			<div class="modal-header">
				<div th:replace="~{nav}" />
			</div>
			<div class="modal-header">
				<label for="default" class="col-sm-2 control-label">公告</label>
			</div>
			<div class="modal-body">
				<div class="form-inline" style="background-color: #2e3842">
					<table>
						<tbody>
							<tr>
								<td ><img th:src="@{/images/pic01.jpg}" alt="" width="468px;"/></td>
								<td style="width:460px; text-align: center;"><span style="color: white; font-size: 20px;">陈帅</span></td>
							</tr>
							<tr>
								<td style="width:460px; text-align: center;"><span style="color: white; font-size: 20px;">朱静</span></td>
								<td ><img th:src="@{/images/pic02.jpg}" alt="" width="468px;"/></td>
							</tr>
							<tr>
								<td ><img th:src="@{/images/pic03.jpg}" alt="" width="468px;"/></td>
								<td style="width:460px; text-align: center;"><span style="color: white; font-size: 20px;">梁兵兵</span></td>
							</tr>
							<tr>
								<td style="width:460px; text-align: center;"><span style="color: white; font-size: 20px;">魏晓磊</span></td>
								<td ><img th:src="@{/images/pic04.jpg}" alt="" width="468px;"/></td>
							</tr><tr>
								<td ><img th:src="@{/images/pic05.jpg}" alt="" width="468px;"/></td>
								<td style="width:460px; text-align: center;"><span style="color: white; font-size: 20px;">刘俊</span></td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>
	</div>
</body>

</html>