<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="tontent-type" content="text/html; charset=UTF-8">

<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/script/jquery.js}"></script>

<script type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<link th:href="@{/style/chen.css}" rel="stylesheet" />
<script type="text/javascript">
   
$(document).ready(function(){
   
	$("#grade_select").change(function(){
	
		$.ajax({
			url:'/sport/clas/query',
			type:'GET',
			dataType:'json',
			data:'grade_id='+$("#grade_select").find("option:selected").attr('value'),
			
			success:function(result){
		
			    $("#clas_id").empty(); 
			    for(var i=0;i<result.length;i++){
			      /* alert(result[i].name); */
			      $("#clas_id").append("<option value="+result[i].id+">"+result[i].name+"</option>"); 
			    }  
			}
		});
	});
	
});

function queryResult(){
    
    $("#cla_id").attr("value",$('#clas_id').find('option:selected').attr('value'))
	
	$("#grad_id").attr("value",$('#grade_select').find('option:selected').attr('value'));
	
	$("#tem_id").attr("value",$('#term_id').find('option:selected').attr('value'));
	
	$("#query").submit(); 
}

</script>
</head>

<body>
	<div class="modal-dialog " style="width:1000px">
		<div class="modal-content">
			<div class="modal-header">
				<div th:replace="~{nav}" />
			</div>
			<div class="modal-header">
				<label for="default" class="col-sm-2 control-label">公告</label>
			</div>
			<div class="modal-body">
				## 欢迎页面
			</div>
		</div>
	</div>
	</div>
</body>

</html>