<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
   	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/script/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  	<link th:href="@{/style/spidertask.css}" rel="stylesheet"/>
  </head>
  
  <body>
  	<div class="taskStatus">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>编号</th>
              <th>任务名称</th>
              <th style="padding-left:50px;">URL</th>
              <th>抽取频道</th>
              <th>爬取量</th>
              <th>任务状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="t,iter:${page.list}">
              <td><span th:text="${iter.index+1}"></span> </td>
              <td><a th:text="${t.name}" th:href="'/pesplus/spidertask/info?id='+${t.id}"></a></td>
              <td class="url"><span th:text="${t.source.url}"/></td>
              <td><span th:text="${t.channel}"/></td>
              <td>50000</td>
              <td>运行中</td>
              <td><a th:href="'/pesplus/spidertask/delete?id='+${t.id}">删除</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <form id="query" action="/pesplus/spidertask">
	      <div th:replace="~{page}"/>
      </form>
      <div th:if="${message}!=null">
	      	执行返回结果：<span th:text="${message}"/>
	  </div>
  </body>
</html>
