<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="tontent-type" content="text/html; charset=UTF-8">


<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/script/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<link th:href="@{/style/chen.css}" rel="stylesheet" />

<!-- <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="../../static/script/jquery.js"></script>
	<script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
	<link th:href="../../static/style/chen.css" rel="stylesheet"/> -->
</head>

<body>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<label for="default" class="col-sm-2 control-label">学校信息</label>
				<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
			</div>
			<div class="modal-body">
				<form class="modalbody" action="/sport/school/modify" method="POST">
					<input type="hidden" name="id" th:value="${selectschool.id}">
					<div class="customtask">
						<label for="taskname" class="col-sm-2 control-label">学校名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="name"
								th:value="${selectschool.name}">
						</div>
					</div>
					<div class="default">
						<label for="default" class="col-sm-2 control-label">联系地址</label>
						<div class="col-sm-10">
							<input type="text" name="address" th:value="${selectschool.address}"
								class="form-control">
						</div>
					</div>
					 <div class="default">
						<label for="default" class="col-sm-2 control-label">邮编</label>
						<div class="col-sm-10">
							<input type="text" name="zipcode" th:value="${selectschool.zipcode}"
								class="form-control">
						</div>
					</div>
					<div class="default">
						<label for="default" class="col-sm-2 control-label">校长</label>
						<div class="col-sm-10">
							<input type="text" name="president" th:value="${selectschool.president}"
								class="form-control">
						</div>
					</div>
					<div class="default">
						<label for="default" class="col-sm-2 control-label">电话</label>
						<div class="col-sm-10">
							<input type="text" name="tel" th:value="${selectschool.tel}"
								class="form-control">
						</div>
					</div>
					<div class="default">
						<label for="default" class="col-sm-2 control-label">E-mail</label>
						<div class="col-sm-10">
							<input type="text" name="email" th:value="${selectschool.email}"
								class="form-control">
						</div>
					</div> 
					<div class="type">
						<label for="type" class="col-sm-2 control-label">请选择学校类型:</label>
						<select name="schooltype" class="form-control" id="selecttype">
							<option value="小学" th:selected="${selectschool.schooltype=='小学'}">小学</option>
							<option value="中学" th:selected="${selectschool.schooltype=='中学'}">中学</option>
							<option value="高中" th:selected="${selectschool.schooltype=='高中'}">高中</option>
							<option value="大学" th:selected="${selectschool.schooltype=='大学'}">大学</option>
							<option value="其他" th:selected="${selectschool.schooltype=='其他'}">其他</option>
						</select>
					</div>
					<div class="modal-footer">
						<a class="nav-link" href="/sport/school">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				        </a>
						<button type="submit" class="btn btn-primary">修改</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>